<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Hello World!</title>
</head>
<body>
<h1>Hello world!</h1>
<div>
    <label class="label label-primary" th:text="#{cryptocurrency.current.price}">first name</label>
    <label class="label label-primary" th:text="*{bitcoinPrice}"></label>
</div>
<form class="form-group" name="logoutForm" th:action="@{/logout}" method="post">
    <button class="btn btn-lg btn-primary btn-block col-sm-offset-2 col-sm-4" type="submit" th:text="#{form.logout.submit}">submit</button>
</form>

</body>
</html>