<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="#{form.login.page.title}">Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="btn-group btn-group-justified" th:with="url=${#httpServletRequest.requestURI}">
        <a class="btn btn-sm btn-info" th:href="'?lang=pl_PL'" th:text="#{page.lang.polish}"></a>
        <a class="btn btn-sm btn-info" th:href="'?lang=en_US'" th:text="#{page.lang.english}"></a>
    </div>
    <form class="form-signin" th:action="@{/processLogin}" method="post">
        <h2 class="form-signin-heading" th:text="#{form.login.greeting}">Please sign in</h2>
        <p>
            <label for="username" class="sr-only" th:text="#{user.username}">Username</label>
            <input type="text" id="username" name="username" class="form-control" th:placeholder="#{user.username}" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only" th:text="#{user.password}">Password</label>
            <input type="password" id="password" name="password" class="form-control" th:placeholder="#{user.password}" required>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{form.login.login}">Sign in</button>
        <a class="btn btn-lg btn-primary btn-block" th:href="@{/register}" th:text="#{form.register.submit}"></a>

        <div th:if="${param.error}" class="alert alert-error" th:text="#{login.invalid}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" th:text="#{login.logout}">
            You have been logged out.
        </div>
    </form>
</div>

</body>
</html>